body{
  background-color: rgb(249, 249, 249);
}
.wrapper_aq {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  min-height: 150px;
  max-width: 900px;
  box-shadow: 12px 12px 30px 1px rgba(41, 102, 255, .1);
}


ol{
  margin-bottom: 0;
}
li {
  margin-bottom: 5px;
  padding: 5px 5px 5px 10px;
  border-radius: 6px;
}
/* li:first-child{
  margin-top: 0px;
} */
li:hover{
  background-color: rgb(245, 245, 245);
  /* background-color: rgba(41, 102, 255,0.1); */
  transition: 0.2s all;
}

/* .question {
  margin-top: 20px;
  margin-bottom: 10px;
} */
.wrapper_aq>div{
  margin-top: 20px;
}
.wrapper_aq>div:nth-child(1) {
  margin-top: 0px;
}
.wrapper_aq>div:nth-last-child(1) {
  margin-top: 0px;
}
.question{
  font-weight: 700;
}
.question span{
  color: rgb(41, 102, 255);
  font-weight: 700;
  margin-bottom: 10px;
}

.buttons{
  margin-left: auto;
}
.buttons button{
  padding: 2px 15px 2px 15px;
  background-color: rgb(41, 102, 255);
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  margin-left: 5px;
}

